exportPattern("^[[:alpha:]]+")
import(IDSL.MXP)
import(xml2)
import(RNetCDF)
import(base64enc)
import(stats)
import(grid)
import(readxl)
import(parallel)
import(doParallel)
import(foreach)
import(ggplot2)
import(gridExtra)
import(png)
importFrom("grDevices", "dev.off", "colorRampPalette", "png", "rainbow")
importFrom("graphics", "hist", "boxplot", "lines", "par", "title")
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "write.csv")
